<h2>Submitted Details</h2>

    <div>
      <%= @bestcsiinternationalstudentseventhost.institution_membership_no %>
      
    </div>
    <div>
      <%= @bestcsiinternationalstudentseventhost.validity %>
      
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.name_of_the_institution %>
    
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.postal_address %>
  
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.city %>
   
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.pin %>
  
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.state %>
    
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.phone_number %>
  
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.emailID %>
 
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.SBC_name %>
      
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.SBC_designation %>
   
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.SBC_department %>
      
    </div>
    
    <div>
      <%=  @bestcsiinternationalstudentseventhost.SBC_emailID %>
     
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.SBC_phone_number %>
      
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.Institution_membership_joining_date %>
      
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.Institution_membership_valid_till %>
      
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.no_of_csi_voulenteers %>
      
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.no_of_csi_voulenteers_added %>
      
    </div>
    
<%= link_to "Delete" , bestcsiinternationalstudentseventhost_path(@bestcsiinternationalstudentseventhost), method: :delete , data: {confirm: "Are you sure ?"}  %>   