<%= form_for @bestaccreditedstudentbranch do |f| %>
    <div>
      <%= f.label :institution_membership_no %>
      <%= f.text_field :institution_membership_no %>
    </div>
    <div>
      <%= f.label :name_of_the_institution %>
      <%= f.text_field :name_of_the_institution %>
    </div>
    <div>
      <%= f.label :postal_address %>
      <%= f.text_field :postal_address %>
    </div>
    <div>
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <div>
      <%= f.label :pin %>
      <%= f.text_field :pin %>
    </div>
    <div>
      <%= f.label :state %>
      <%= f.text_field :state %>
    </div>
    <div>
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>
    <div>
      <%= f.label :emailID %>
      <%= f.email_field :emailID %>
    </div>
    <div>
      <%= f.label :SBC_name %>
      <%= f.text_field :SBC_name %>
    </div>
    <div>
      <%= f.label :SBC_designation %>
      <%= f.text_field :SBC_designation %>
    </div>
    <div>
      <%= f.label :SBC_department %>
      <%= f.text_field :SBC_department %>
    </div>
    
    <div>
      <%= f.label :SBC_emailID %>
      <%= f.text_field :SBC_emailID %>
    </div>
    <div>
      <%= f.label :SBC_phone_number %>
      <%= f.text_field :SBC_phone_number %>
    </div>
    <div>
      <%= f.label :SBC_CSI_membership_no %>
      <%= f.text_field :SBC_CSI_membership_no %>
    </div>
    <div>
      <%= f.label :no_of_csi_voulenteers %>
      <%= f.text_field :no_of_csi_voulenteers %>
    </div>
    <div>
      <%= f.label :no_of_csi_voulenteers_added %>
      <%= f.text_field :no_of_csi_voulenteers_added %>
    </div>
    
    
    
    <div>
        
        <%= f.submit %>
    </div>
<% end %>   


   
 
     
