<h2 align="center">Submitted Details</h2>

    <div class="submitted-details">
      <p>Institution Membership No: <%= @bestaccreditedstudentbranch.institution_membership_no %></p>
      
    
      <p>Institution Name: <%=  @bestaccreditedstudentbranch.name_of_the_institution %></p>
    
    
      <p>Address:  <%=  @bestaccreditedstudentbranch.postal_address %></p>
  
   
      <p>City:  <%=  @bestaccreditedstudentbranch.city %></p>
   
    
      <p>Pin:  <%=  @bestaccreditedstudentbranch.pin %></p>
  
   
      <p>State:  <%=  @bestaccreditedstudentbranch.state %></p>
    
    
      <p>Phone Number:  <%=  @bestaccreditedstudentbranch.phone_number %></p>
  
    
      <p>Email:  <%=  @bestaccreditedstudentbranch.emailID %></p>
 
    
      <p>SBC Name:  <%=  @bestaccreditedstudentbranch.SBC_name %></p>
      
    
      <p>SBC Designation:  <%=  @bestaccreditedstudentbranch.SBC_designation %></p>
   
    
      <p>SBC DEpartment:  <%=  @bestaccreditedstudentbranch.SBC_department %></p>
      
   
      <p>SBC email:  <%=  @bestaccreditedstudentbranch.SBC_emailID %></p>
     
    
      <p>SBC contact Number:  <%=  @bestaccreditedstudentbranch.SBC_phone_number %></p>
      
    
      <p>SBC CSI Membership No:  <%=  @bestaccreditedstudentbranch.SBC_CSI_membership_no %></p>
      
 
      <p>No of CSI voulenteers:  <%=  @bestaccreditedstudentbranch.no_of_csi_voulenteers %></p>
      
   
      <p>No of CSI voulenteers added:  <%=  @bestaccreditedstudentbranch.no_of_csi_voulenteers_added %></p>
      
    </div>


<div class="showpage-links">
  <%= link_to "Edit Details" ,   edit_bestaccreditedstudentbranch_path(@bestaccreditedstudentbranch) %> |
  <%= link_to "Delete" , bestaccreditedstudentbranch_path(@bestaccreditedstudentbranch), method: :delete , data: {confirm: "Are you sure ?"}  %> | 
  <%= link_to "Apply for another Award" , root_path %>
</div>    
