<h2>Submitted Details</h2>

    <div>
      <%= @bestaccreditedstudentbranch.institution_membership_no %>
      
    </div>
    <div>
      <%=  @bestaccreditedstudentbranch.name_of_the_institution %>
    
    </div>
    <div>
      <%=  @bestaccreditedstudentbranch.postal_address %>
  
    </div>
    <div>
      <%=  @bestaccreditedstudentbranch.city %>
   
    </div>
    <div>
      <%=  @bestaccreditedstudentbranch.pin %>
  
    </div>
    <div>
      <%=  @bestaccreditedstudentbranch.state %>
    
    </div>
    <div>
      <%=  @bestaccreditedstudentbranch.phone_number %>
  
    </div>
    <div>
      <%=  @bestaccreditedstudentbranch.emailID %>
 
    </div>
    <div>
      <%=  @bestaccreditedstudentbranch.SBC_name %>
      
    </div>
    <div>
      <%=  @bestaccreditedstudentbranch.SBC_designation %>
   
    </div>
    <div>
      <%=  @bestaccreditedstudentbranch.SBC_department %>
      
    </div>
    
    <div>
      <%=  @bestaccreditedstudentbranch.SBC_emailID %>
     
    </div>
    <div>
      <%=  @bestaccreditedstudentbranch.SBC_phone_number %>
      
    </div>
    <div>
      <%=  @bestaccreditedstudentbranch.SBC_CSI_membership_no %>
      
    </div>
    <div>
      <%=  @bestaccreditedstudentbranch.no_of_csi_voulenteers %>
      
    </div>
    <div>
      <%=  @bestaccreditedstudentbranch.no_of_csi_voulenteers_added %>
      
    </div>
    
<%= link_to "Edit Details" ,   edit_bestaccreditedstudentbranch_path(@bestaccreditedstudentbranch) %> |
<%= link_to "Delete" , bestaccreditedstudentbranch_path(@bestaccreditedstudentbranch), method: :delete , data: {confirm: "Are you sure ?"}  %> | 
<%= link_to "Apply for another Award" , root_path %>