<%= form_for @facmaxpublishing do |f| %>
    <div>
      <%= f.label :name_of_faculty %>
      <%= f.text_field :name_of_faculty %>
    </div>
    <div>
      <%= f.label :name_of_the_institution %>
      <%= f.text_field :name_of_the_institution %>
    </div>
    <div>
      <%= f.label :postal_address %>
      <%= f.text_field :postal_address %>
    </div>
    <div>
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <div>
      <%= f.label :pin %>
      <%= f.text_field :pin %>
    </div>
    <div>
      <%= f.label :state %>
      <%= f.text_field :state %>
    </div>
    <div>
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>
    <div>
      <%= f.label :emailID %>
      <%= f.email_field :emailID %>
    </div>
    <div>
      <%= f.label :name_of_head_of_institution %>
      <%= f.text_field :name_of_head_of_institution %>
    </div>
    <div>
      <%= f.label :designation %>
      <%= f.text_field :designation %>
    </div>
   
    
    <div>
      <%= f.label :head_of_institution_emailID %>
      <%= f.text_field :head_of_institution_emailID %>
    </div>
    <div>
      <%= f.label :candidate_emailID %>
      <%= f.text_field :candidate_emailID %>
    </div>
    <div>
      <%= f.label :Institution_membership_number %>
      <%= f.text_field :Institution_membership_number %>
    </div>
    <div>
      <%= f.label :Institution_membership_valid_till %>
      <%= f.text_field :Institution_membership_valid_till %>
    </div>
    <div>
      <%= f.label :candidate_csi_membership_number %>
      <%= f.text_field :candidate_csi_membership_number %>
    </div>
    <div>
      <%= f.label :candidate_csi_membership_number_valid_till %>
      <%= f.text_field :candidate_csi_membership_number_valid_till %>
    </div>
    <div>
      <%= f.label :institution_has_student_branch %>   
      <!--change to radio button-->
      <%= f.text_field :institution_has_student_branch %>
    </div>
 
    
    <div>
        <%= f.submit %>
    </div>
<% end %>   
