<h2>Submitted Details</h2>

    <div>
      <%= @facmaxpublishing.name_of_faculty %>
      
    </div>
   
    <div>
      <%=  @facmaxpublishing.name_of_the_institution %>
    
    </div>
    <div>
      <%=  @facmaxpublishing.postal_address %>
  
    </div>
    <div>
      <%=  @facmaxpublishing.city %>
   
    </div>
    <div>
      <%=  @facmaxpublishing.pin %>
  
    </div>
    <div>
      <%=  @facmaxpublishing.state %>
    
    </div>
    <div>
      <%=  @facmaxpublishing.phone_number %>
  
    </div>
    <div>
      <%=  @facmaxpublishing.emailID %>
 
    </div>
    <div>
      <%=  @facmaxpublishing.name_of_head_of_institution %>
      
    </div>
    <div>
      <%=  @facmaxpublishing.designation %>
   
    </div>

    
    <div>
      <%=  @facmaxpublishing.head_of_institution_emailID %>
     
    </div>
    <div>
      <%=  @facmaxpublishing.candidate_emailID %>
      
    </div>
    <div>
      <%=  @facmaxpublishing.Institution_membership_number %>
      
    </div>
    
    <div>
      <%=  @facmaxpublishing.Institution_membership_valid_till %>
      
    </div>
    <div>
      <%=  @facmaxpublishing.candidate_csi_membership_number %>
      
    </div>
    <div>
      <%=  @facmaxpublishing.candidate_csi_membership_number_valid_till %>
    </div>
    <div>
      <%=  @facmaxpublishing.institution_has_student_branch %>
    </div>
    
<%= link_to "Edit Details" ,   edit_bestaccreditedstudentbranch_path(@facmaxpublishing) %> |     
<%= link_to "Delete" , facmaxpublishing_path(@facmaxpublishing), method: :delete , data: {confirm: "Are you sure ?"}  %>   |
<%= link_to "Apply for another Award" , root_path %>