<h2>Submitted Details</h2>

    <div>
      <%= @highestsponsorshipofcsievent.institution_membership_no %>
      
    </div>
    <div>
      <%= @bestcsiinternationalstudentseventhost.validity %>
      
    </div>
    <div>
      <%=  @highestsponsorshipofcsievent.name_of_the_institution %>
    
    </div>
    <div>
      <%=  @highestsponsorshipofcsievent.postal_address %>
  
    </div>
    <div>
      <%=  @highestsponsorshipofcsievent.city %>
   
    </div>
    <div>
      <%=  @highestsponsorshipofcsievent.pin %>
  
    </div>
    <div>
      <%=  @highestsponsorshipofcsievent.state %>
    
    </div>
    <div>
      <%=  @highestsponsorshipofcsievent.phone_number %>
  
    </div>
    <div>
      <%=  @highestsponsorshipofcsievent.emailID %>
 
    </div>
    <div>
      <%=  @highestsponsorshipofcsievent.SBC_name %>
      
    </div>
    <div>
      <%=  @highestsponsorshipofcsievent.SBC_designation %>
   
    </div>
    <div>
      <%=  @highestsponsorshipofcsievent.SBC_department %>
      
    </div>
    
    <div>
      <%=  @highestsponsorshipofcsievent.SBC_emailID %>
     
    </div>
    <div>
      <%=  @highestsponsorshipofcsievent.SBC_phone_number %>
      
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.Institution_membership_joining_date %>
      
    </div>
    <div>
      <%=  @bestcsiinternationalstudentseventhost.Institution_membership_valid_till %>
      
    </div>
    <div>
      <%=  @highestsponsorshipofcsievent.no_of_csi_voulenteers %>
      
    </div>
    <div>
      <%=  @highestsponsorshipofcsievent.no_of_csi_voulenteers_added %>
      
    </div>
    
<%= link_to "Delete" , highestsponsorshipofcsievent_path(@highestsponsorshipofcsievent), method: :delete , data: {confirm: "Are you sure ?"}  %>   