<%= form_for @longestcontinuoussbc, :html => {:class => "form-horizontal"} do |f| %>
    <div class="form-group">
      <%= f.label :name_of_the_sbc_nominating_self %>
      <%= f.text_field :name_of_the_sbc_nominating_self, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :name_of_the_institution %>
      <%= f.text_field :name_of_the_institution, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :postal_address %>
      <%= f.text_field :postal_address, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :pin %>
      <%= f.text_field :pin, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :state %>
      <%= f.text_field :state, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :phone_number , class: "form-control"%>
      <%= f.text_field :phone_number, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :emailID %>
      <%= f.email_field :emailID , class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :name_of_head_of_institution %>
      <%= f.text_field :name_of_head_of_institution , class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :SBC_designation %>
      <%= f.text_field :SBC_designation, class: "form-control" %>
    </div>
   
    
    <div class="form-group">
      <%= f.label :SBC_emailID %>
      <%= f.text_field :SBC_emailID, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :SBC_phone_number %>
      <%= f.text_field :SBC_phone_number, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :Institution_membership_number %>
      <%= f.text_field :Institution_membership_number, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :Institution_membership_valid_till %>
      <%= f.text_field :Institution_membership_valid_till, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :candidate_csi_membership_number %>
      <%= f.text_field :candidate_csi_membership_number, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :candidate_csi_membership_number_valid_till %>
      <%= f.text_field :candidate_csi_membership_number_valid_till , class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :no_of_csi_voulenteers %>
      <%= f.text_field :no_of_csi_voulenteers, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :no_of_csi_voulenteers_added %>
      <%= f.text_field :no_of_csi_voulenteers_added , class: "form-control"%>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-primary" %>
        </div>
    </div>
<% end %>   
