<!DOCTYPE html>
<html>
<head>
  <title>Award</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  
  <%= google_webfonts_init({
    google: ['Roboto Slab', 'Roboto' ,'Josefin Sans','Lato']
  }) %>
</head>
<body>
  

  
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CSI AWARDS</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home" , root_path , class: "active" %> </li>
      <% if user_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert_wrapper" %>
<% end %>


<div class="container">

  <%= yield %>
</div>


</body>
</html>
